{% extends 'user/base.html' %}
{% load static %}
{% block additional_css %}
    <!-- Additional CSS specific to the order items page -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/cart.css' %}">
{% endblock %}
{% block content %}
    <div class="px-3 pb-3" >
        <div class="container py-4"
             style="
                    padding-left: 40px;
                    padding-right: 40px;
                    ">
            <h3 class="text-center"
                style="margin-left: 25px;
                       margin-top: 90px;
                       margin-bottom: 20px;
                       color: rgb(0, 0, 0)">My Order Items</h3>
            {% for order_item in order_items %}
                <a href="{% url 'order_detail' order_item.id %}" style="color: black;">
                <div class="order-item d-flex align-items-center justify-content-between mb-3">
                    <img src="{{ order_item.book.cover_image.url }}"
                         alt="{{ order_item.book.title }}"
                         class="order-item-image"
                         style="width: 75px;
                                height: 150">
                    <div class="order-item-details d-flex flex-column ml-3">
                        <div class="order-item-title">{{ order_item.book.title }}</div>
                        <div class="order-item-status">Order Status: {{ order_item.order_status }}</div>
                        <div class="order-item-date">Ordered Date: {{ order_item.order.order_date }}</div>
                    </div>
                    {% if order_item.order_status.order_status == 'Order Placed' or order_item.order_status.order_status == 'Order Shipped' %}
                        <form method="post" action="{% url 'cancel_order' order_item.pk %}">
                            {% csrf_token %}
                            <button type="submit"
                                    class="btn btn-sm btn-outline-dark btn-black-hover btn-cancel"
                                    style="margin-right: 20px">Cancel</button>
                        </form>
                    {% endif %}
                </div>
            </a>  
            {% endfor %}
        </div>
    </div>
{% endblock %}
